<table (mouseleave)="onMouseTableOut()" (click)="onClick()">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>username</th>
        <th>address</th>
      </tr>
    </thead>
    <tbody
    (mouseleave)="onMouseOut()"
    (mouseenter)="onMouseEnter($event)">
    <!-- (mouseout)="onMouseOut()"
    (mouseover)="onMouseEnter()"> -->
        <app-user-row *ngFor="let user of this.users; index as i"
         (mousemove)="onHover($event, user)" [user]="user">
        </app-user-row>
        <!-- <tr app-user-row *ngFor="let user of this.users" [user]="user"></tr> -->
    </tbody>
  </table>
  <app-hover-title *ngIf="currentHoverUser" #titleElement [data]="currentHoverUser" [top]="titleTop" [left]="titleLeft">
    <div>{{currentHoverUser.address?.street}}</div>
    <div>{{currentHoverUser.address?.suite}}</div>
    <div>{{currentHoverUser.address?.city}}</div>
  </app-hover-title>